<div class="vhfull cont-horiz" style="background: #FAFAFC;">
  <div class="cont-vert-around box2">
    <div style="padding-top:20px;"><h2>Мы отправили СМС код на номер:</h2>
      <p class="phone-text"> +7 (903) 123-45-67</p> </div>
    <div class="cont-horiz">
      <input class="sms" type="text" placeholder="0" >
      <input class="sms" type="text" placeholder="0" >
      <input class="sms" type="text" placeholder="0" >
      <input class="sms" type="text" placeholder="0" >
    </div>
    <div class="cont-horiz-start">
      <p>Не пришёл код? <span style="color: #67C4B2;"> <a href="#">Прислать повторно</a></span></p>
    </div>
    <div class="cont-horiz">
      <div class="btn2 button-text cont-vert" (click)="back()">Назад</div>
      <div class="btn2 button-text cont-vert" (click)="next()">Далее</div>
    </div>
  </div>
</div>
