<div class="vhfull cont-horiz" style="background: #FAFAFC;">
  <div class="cont-vert-around box2">
    <h2>Войдите с помощью  номера телефона</h2>
    <div class="phone cont-horiz-start">
      <img src="assets/img/flag_rus.png" class="flag">
      <img src="assets/img/bottom.png">
      <div class="v-line"></div>
      <div class="input-text">+7  (903) 123-45-67</div>
    </div>
    <div class="cont-horiz-start">
      <div class="checkbox">✓</div>
      <p>Согласен с <span style="color: #67C4B2;"> правилами и условиями</span></p>
    </div>
    <div class="cont-horiz">
      <div class="btn2 button-text cont-vert" (click)="back()">Назад</div>
      <div class="btn2 button-text cont-vert" (click)="next()">Далее</div>
    </div>
  </div>
</div>
