/*--------------- Расположение -------------------*/
.cont-horiz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-horiz-start{
  display: flex;
  justify-content: start;
  align-items: center;
}
.cont-horiz-around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cont-horiz-around-start{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.cont-horiz-between {
  display: flex;
  justify-content: space-between;
}
.cont-vert {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.cont-vert-around{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.cont-vert-between{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.cont-vert-around-left{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  //align-items: left;
}
.cont-vert-start{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
//justify-content: $space-between;

.vhfull{ height:100vh;}
/*--------------- Объекты -------------------*/
.mainpage{
  border-radius: 0px;
  background-color: #fff;
  width: 446px;
}
.box{
  background-color: #fff;
  height: 535px;
  width: 446px;
  border-radius: 0px;
}
.box2{
  background-color: #fff;
  height: 396px;
  width: 446px;
  border-radius: 0px;
}
.phone{
  height: 56px;
  width: 336px;
  left: 552px;
  top: 318px;
  background: #FFFFFF;
  box-shadow: 2px 2px 10px 2px rgba(35, 38, 47, 0.08);
  border-radius: 12px;
}
.phone:hover, .fio:hover{
  box-shadow: 2px 2px 10px 2px rgba(0, 218, 179, 0.5);
}
.phone:active, .fio:active{
  box-shadow: 2px 2px 10px 2px #FF4A6380;
}
.phone-text, .fio-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.phone-text{
  line-height: 130%;
  text-align:center;
}
.fio{
  height: 49px;
  width: 406px;
  border-radius: 100px;
  padding: 13px 20px 13px 20px;
  border: 1px solid #DDE2ED ;
}
.fio-text{
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding-left:30px;
}
.sms{
  height: 72px;
  width: 72px;
  left: 0px;
  top: 0px;
  margin: 5px;
  background: #FFFFFF;
  box-shadow: 2px 2px 10px 2px rgba(35, 38, 47, 0.08);
  border-radius: 12px;
  border-color:transparent;
  padding: 15px 25px 15px 25px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  color: #C0C5D5;

  display: flex;
  align-items: center;
  text-align: center;
}
input {outline:none; }
.sms::placeholder {
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}
.fio::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  align-items: center;
}
::placeholder {
  color: #C0C5D5;
  font-family: Montserrat;
  font-style: normal;
}
.search{
  width: 335px;
  height: 58px;
  background: #FFFFFF;
  box-shadow: 2px 2px 10px 2px rgba(35, 38, 47, 0.08);
  border-radius: 100px;
  outline:none;
}
.sms{
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}
.sms:hover{
  border-color:transparent;
  box-shadow: 2px 2px 10px 2px rgba(0, 218, 179, 0.5);}
.sms:active{
  box-shadow: 2px 2px 10px 2px #FF4A6380; }
.space-1x{
  height:35px;
  width:100%;
}
.space-2x{
  height:70px;
  width:100%;
}
.category{
  /*overflow:hidden*/
  overflow: auto
}
.recommend{
  height: 268px;
  width: 128px;
  margin:10px;
}
.recommend-img{
  height: 128px;
  width: 128px;
  border-radius: 0px;
}
.recommend-info{
  height: 140px;
  width: 108px!important;
  font-family: Montserrat;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: #23262F;
  background: #FFFFFF;
  box-shadow: 2px 2px 10px 2px rgba(35, 38, 47, 0.08);
  border-radius: 0px;
  padding:10px;
}
.recommend-name{
  font-weight: bold;
  font-size: 15px;
}
.recommend-date{
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
.recommend-adr{
  font-size: 12px;
  font-weight: 700;
}
.recommend-price{
  font-weight: bold;
  font-size: 18px;
  color: #409B89;
}
.btn-recommend1{
  background: #67C4B2;
  color: #fff;
  width: 197px;
  height: 36px;
  /* Основные/Дополнительный */
  background: #67C4B2;
  box-shadow: 2px 2px 10px 2px rgba(35, 38, 47, 0.08);
  border-radius: 100px;
  z-index: 20;

  /* H4 */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
}
.btn-recommend2{
  background-color: #FFFFFF;
  color:  #23262F;
  box-shadow: 2px 2px 10px 2px #23262F14;
  width: 197px;
  height: 36px;
  margin-left: -30px;
  z-index: 10;
  border-radius: 100px;

  /* Small Text */
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
}

/*--------------- Кнопка -------------------*/
.btn1{
  background-color:#409B89;
  color: #fff;
  height: 50px;
  width: 344px;
  border-radius: 100px;
  padding: 12px 130px 12px 130px;
}
.btn1:hover {
  background-color:#DDE2ED;
  color:#fff;
  height: 50px;
  width: 344px;
  border-radius: 100px;
  padding: 12px 130px 12px 130px;
  margin: 0 5px;
}
.btn2{
  background-color:#409B89;
  color:#fff;
  width: 198px;
  height: 50px;
  border-radius: 100px;
  padding: 12px 130px 12px 130px;
  margin: 0 5px;
}
.btn2:hover {
  background-color:#DDE2ED;
  color:#fff;
  height: 50px;
  width: 198px;
  left: 517px;
  top: 468px;
  border-radius: 100px;
  padding: 12px 130px 12px 130px;
  margin: 0 5px;
}
.btn3{
  background-color:#409B89;
  color:#fff;
  width: 336px;
  height: 50px;
  border-radius: 100px;
  padding: 12px 130px 12px 130px;
  margin: 0 5px;
}
.btn3:hover {
  background-color:#DDE2ED;
  color:#fff;
  height: 50px;
  width: 198px;
  left: 517px;
  top: 468px;
  border-radius: 100px;
  padding: 12px 130px 12px 130px;
  margin: 0 5px;
}
.flag{ padding:20px;}
.checkbox{
  background-color: #67C4B2;
  color: #fff;
  text-align: center;
  height: 24px;
  width: 24px;
  left: 0px;
  top: 0px;
  border-radius: 6px;
  margin:5px;
}
.v-line{
  width: 40px;
  height: 0px;
  left: 80px;
  top: 8px;
  /* Основные/Неактивный фон */
  border: 1px solid #DDE2ED;
  transform: rotate(90deg);
}
/*.ico-plus{
	margin: 0px 20px 0px 3px;
}*/

/* Полоса прокрутки */
#element::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

#element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}
/*--------------- Типографика -------------------*/
/* H1 */
h1,h2,h3,h4{
  font-family: Montserrat;
  text-align: center;
  letter-spacing: 0em;
  padding:0px;
  margin:0px;
}
h1,h2{
  line-height: 130%;
  font-weight: 700;	}
h3,h4{
  line-height: 26px;
  font-style: normal;	}
h1 {color:#409B89;
  font-size: 24px; }
h2{ font-size: 20px; padding: 20px 0px 20px 0px; }
h3{	font-size: 15px; }
h4{ font-size: 12px; }
p{
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding:0px;
  margin:0px;
}
.hrecent{
  margin: 0px 10px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
a{
  text-decoration:none;
  color: #67C4B2;
}
.input-text{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.button-text{
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
/*--------------- Шрифт -------------------*/
@font-face {
  font-family: 'Montserrat';
  src: url('src/assets/fonts/Montserrat/Montserrat-Regular.eot');
  src: local('Fonts/Montserrat/Montserrat Regular'), local('Fonts/Montserrat/Montserrat-Regular'),
  url('src/assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('src/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url('src/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('src/assets/fonts/Montserrat/Montserrat-Bold.eot');
  src: local('src/assets/fonts/Montserrat/Montserrat Bold'), local('src/assets/fonts/Montserrat/Montserrat-Bold'),
  url('src/assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('src/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('src/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.img-desctop8{
  width:25vw;
  max-width: 300px;
  max-height: 558px;
  padding:0px 30px 0px 30px
}
/*desctop 8*/
.textblock8{
  min-width:300px;
  text-align: justify;
}
@media screen and (max-width: 600px){
  .invis{ display:none;}
  .hblock8{height:100vh;}
  .visib{ display:block;}
}
@media screen and (min-width: 601px){
  .visib{ display:none;}
}
@media screen and (min-width: 501px) and (max-width: 1023px){
  .hblock8{height:80vh;}
  .img-desctop8{max-height: 500px;min-width: 250px }
}
@media screen and (min-width: 1024px){
  .hblock8{height:100vh;}

}
.img-slide8{
  max-width:100px;
  max-height:100px;
}
.service{
  height: 58px;
  background: #FFFFFF;
  border: 1px solid #409B89!important;
  border:none;
  border-radius: 100px;
  padding: 0px 0px 0px 30px;
  min-width: 230px;
}
.item{
  height:220px;
  background:#fff;
  box-shadow: 2px 2px 10px 2px rgba(35, 38, 47, 0.08);
}
.intro{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 130%;
}
@media screen and (max-width: 640px) {
  img.intro-img{display:none;}
  .intro{font-size: 1.5em;}
  .service{width: 80vw;}
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  img.intro-img{width: 40vw;}
  .service{width: 60vw;}
}
@media screen and (min-width: 1025px) and (max-width: 1152px) {
  img.intro-img{width:40vw ;}
  .service{width: 40vw;}
}
@media screen and (min-width: 1153px) {
  img.intro-img{ width:25vw;	}
  .service{width: 30vw;}
}
.slide-green8{
  width: 40vw;
  min-width:220px;
  max-width:350px;
  height: 48px;
  background: #67C4B2;
  /*box-shadow: 2px 2px 10px 2px rgba(35, 38, 47, 0.08);*/
  border-radius: 100px;
  color:#fff;
}
.slide-white8{
  width: 40vw;
  min-width:220px;
  max-width:350px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid rgb(35 38 47 / 8%);
  border-radius: 100px;
}
.price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  color: #409B89;
}
.footer-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 130%;
  color: #11142D;
  width:100%;
}

/* Перемотка экранами */
body {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}
.section {
  height: 100vh;
  scroll-snap-align: start;
}
/* Вкладки */
@media screen and (max-width: 600px){
  .korpus label {padding: 15px 43px; }
}
@media screen and (min-width: 601px){
  .korpus label{padding: 15px 70px; }
}
.korpus {
  white-space: nowrap;/*кнопки в одну строку*/
}
.korpus > div, .korpus > input { display: none; }
.korpus label {
  cursor: pointer;
  position: relative;
  bottom: 1px;
  max-width: 350px;
  border: 1px solid rgb(35 38 47 / 8%);
  border-radius: 100px;
}
.labl1{
  display: inline-block; /*кнопки в одну строку*/
}
.labl2{
  margin-left:-50px;
}
.korpus input[type="radio"]:checked + label {
  background: #67C4B2;color: #fff;
}
.korpus label {
  color: #000;}
.korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3) {
  display: block; padding: 5px;
}
/* END Вкладки */
.img1 {
  z-index: 2;
  position: relative;
}
.img2{
  z-index:1;
  position: relative;
  left: 0px;
}
