<!--<app-header-five></app-header-five>-->
  <!--- Экран 1 --->
  <section class="section">
    <div class="cont-vert-around" style="height:100vh;">
      <div class="cont-horiz" >
        <div class="cont-vert-start" style="padding:0px 30px 0px 0px">
          <div class="intro">Социальная <wbr>сеть <wbr>бронирования</div>
          <div class="space-1x"></div>
          <input class="service" type="text" placeholder="Введите название услуги" >
          <div class="space-1x"></div>
          <p>Или воспользуйтесь подборкой рубрик ниже</p>
          <div class="space-1x"></div>
        </div>
        <!--div -->
        <img src="assets/images/ocpio/page1/intro.png" style="width:50%;" class="intro-img" alt="">
        <!--/div-->
      </div>

    </div>
  </section>
  <app-logo-ten></app-logo-ten>
  <app-product-slider-ten [products]="products"></app-product-slider-ten>
  <!--- Экран 2 --->
<!--  <section class="section">-->
<!--    &lt;!&ndash; Вкладка START &ndash;&gt;-->
<!--    <div class="hblock8 cont-vert" style="padding: 0 30px">-->
<!--      <h2>Два типа аккаунта</h2>-->
<!--      <div class="space-1x"></div>-->
<!--      <div class="korpus" style="white-space: nowrap;">-->
<!--        <input  type="radio"  name="odin" checked="checked" id="vkl1"/>-->
<!--        <label  class="labl1" style="inline-block; – iterq"  for="vkl1" >Пользовательский</label>-->
<!--        <input type="radio" name="odin" id="vkl2"/>-->
<!--        <label class="labl2" for="vkl2">Бизнес&nbsp;-&nbsp;аккаунт</label>-->
<!--        &lt;!&ndash; Вкладка 1 &ndash;&gt;-->
<!--        <div style="padding: 40px 0; margin-bottom:50px;">-->
<!--          <img src="assets/images/ocpio/page8/user_ak.png" style="max-width: 85%; max-height: 300px;">-->
<!--        </div>-->
<!--        &lt;!&ndash; Вкладка 2 &ndash;&gt;-->
<!--        <div style="padding: 40px 0; margin-bottom:50px;">-->
<!--          <img src="assets/images/ocpio/page8/buizness_ak.png" style="max-width: 85%; max-height: 300px;">-->
<!--        </div>-->
<!--        <div class="space-1x"></div>-->
<!--      </div>-->
<!--      &lt;!&ndash; Вкладка END &ndash;&gt;-->
<!--      &lt;!&ndash;div class="cont-horiz" >-->
<!--          <div class="slide-green8 cont-vert" style="position: relative; z-index:2;">Пользовательский</div>-->
<!--          <div class="slide-white8 cont-vert" style="margin-left:-100px; z-index:1;">Бизнес-аккаунт</div>-->
<!--      </div>-->
<!--      <div class="space-1x"></div>-->
<!--          <img src="img/page8/img1.png" style="max-width: 85vw;    max-height: 60vh;">-->
<!--      <div class="space-1x"></div&ndash;&gt;-->
<!--      <p>Вам бесплатно доступен выбор любой услуги или места отдыха, как от частного 		исполнителя, так и компании-исполнителя	</p>-->

<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash;- Экран 3 LEFT -&ndash;&gt;-->
<!--  <section class="section">-->
<!--    <div class="cont-horiz" style="max-width:100vw;">-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 invis" style="height:100vh;">-->
<!--        <div class="cont-vert" style="height:100vh; ">-->
<!--          <div>-->
<!--            &lt;!&ndash; Мыльный пузырь &ndash;&gt;-->
<!--            <svg class="blob" viewBox="0 0 650 650" xmlns="http://www.w3.org/2000/svg">-->
<!--              <g transform="translate(290,300)">                            <path d="M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-->
<!--                            -2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-->
<!--                            -76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z" fill="#67C4B2" />-->
<!--              </g>-->
<!--            </svg>-->
<!--            <div class="dwf">-->
<!--              <path class="ani" d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0-->
<!--                        -217 86 c 0 10 1 19 3 29 -104 -6 -196 -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43-->
<!--                        111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252 0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--              <path d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0 -217 86 c 0 10 1 19 3 29 -104 -6 -196-->
<!--                        -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43 111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252-->
<!--                        0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="cont-horiz" style="height:100vh;top: -100vh;">-->
<!--          <img src="img/page1/galaxy.png" class=" img1 img-desctop8" style="float:left;">-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 cont-vert">-->
<!--        <div style="text-align: center;"><h2>Широкий выбор услуг</h2></div>-->
<!--        <p class="textblock8">Вы можете забронировать любую услугу или места и парикмахера, и базу отдыха или любую другую услуг	из 365 представленных в сообществе OCPIO</p>-->
<!--        <div class="space-1x"></div>-->
<!--        <img src="assets/images/ocpio/page1/galaxy.png" class="visib">-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </section>-->

<!--  &lt;!&ndash;- Экран 4 LEFT -&ndash;&gt;-->
<!--  <section class="section">-->
<!--    <div class="cont-horiz" style="max-width:100vw;">-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 cont-vert">-->
<!--        <div style="text-align: center;"><h2>Напоминания и уведомления</h2></div>-->
<!--        <p class="textblock8">Ежедневник не позволит вам забыть о записи или о дате любого другого события </p>-->
<!--        <div class="space-1x"></div>-->
<!--        <img src="img/page1/galaxy.png" class="visib">-->
<!--      </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 invis" style="height:100vh;">-->
<!--        &lt;!&ndash; Мыльный пузырь &ndash;&gt;-->
<!--        <svg class="blob" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">-->
<!--          <g transform="translate(250,250)">-->
<!--            <path d="M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-->
<!--                        -2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-->
<!--                        -76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z" fill="#67C4B2" />-->
<!--          </g>-->
<!--        </svg>-->
<!--        <div class="dwf">-->
<!--          <path class="ani" d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0-->
<!--                    -217 86 c 0 10 1 19 3 29 -104 -6 -196 -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43-->
<!--                    111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252 0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--          <path d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0 -217 86 c 0 10 1 19 3 29 -104 -6 -196-->
<!--                    -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43 111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252-->
<!--                    0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--        </div>-->
<!--        &lt;!&ndash; картинка телефон &ndash;&gt;-->
<!--        <div class=" cont-horiz" style="height:100vh;">-->
<!--          <img src="assets/images/ocpio/page1/galaxy.png" class=" img1 img-desctop8" style="float:left;" alt="">-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </section>-->
<!--  &lt;!&ndash;- Экран 5 LEFT -&ndash;&gt;-->
<!--  <section class="section">-->
<!--    <div class="cont-horiz" style="max-width:100vw;">-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 invis" style="height:100vh;">-->
<!--        &lt;!&ndash; Мыльный пузырь &ndash;&gt;-->
<!--        <svg class="blob" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">-->
<!--          <g transform="translate(250,250)">-->
<!--            <path d="M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-->
<!--                        -2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-->
<!--                        -76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z" fill="#67C4B2" />-->
<!--          </g>-->
<!--        </svg>-->
<!--        <div class="dwf">-->
<!--          <path class="ani" d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0-->
<!--                    -217 86 c 0 10 1 19 3 29 -104 -6 -196 -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43-->
<!--                    111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252 0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--          <path d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0 -217 86 c 0 10 1 19 3 29 -104 -6 -196-->
<!--                    -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43 111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252-->
<!--                    0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--        </div>-->
<!--        &lt;!&ndash; картинка телефон &ndash;&gt;-->
<!--        <div class=" cont-horiz" style="height:100vh;">-->
<!--          <img src="img/page1/galaxy.png" class=" img1 img-desctop8" style="float:left;">-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 cont-vert">-->
<!--        <div style="text-align: center;"><h2>Медиатека</h2></div>-->
<!--        <p class="textblock8">Просматривайте портфолио на странице исполнителя-->
<!--          Участвуйте в конкурсах, голосуя за лучшие работы и заведения</p>-->
<!--        <div class="space-1x"></div>-->
<!--        <img src="assets/images/ocpio/page1/galaxy.png" class="visib" alt="">-->
<!--      </div>-->
<!--      </div>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </section>-->
<!--  &lt;!&ndash;- Экран 4 LEFT -&ndash;&gt;-->
<!--  <section class="section">-->
<!--    <div class="cont-horiz" style="max-width:100vw;">-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 cont-vert">-->
<!--        <div style="text-align: center;"><h2>Обратная связь</h2></div>-->
<!--        <p class="textblock8">Через приложение, вы можете связаться-->
<!--          с исполнителем любым удобным способом и мессенджером </p>-->
<!--        <div class="space-1x"></div>-->
<!--        <img src="assets/images/ocpio/page1/galaxy.png" class="visib">-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 invis" style="height:100vh;">-->
<!--        &lt;!&ndash; Мыльный пузырь &ndash;&gt;-->
<!--        <svg class="blob" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">-->
<!--          <g transform="translate(250,250)">-->
<!--            <path d="M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-->
<!--                        -2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-->
<!--                        -76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z" fill="#67C4B2" />-->
<!--          </g>-->
<!--        </svg>-->
<!--        <div class="dwf">-->
<!--          <path class="ani" d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0-->
<!--                    -217 86 c 0 10 1 19 3 29 -104 -6 -196 -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43-->
<!--                    111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252 0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--          <path d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0 -217 86 c 0 10 1 19 3 29 -104 -6 -196-->
<!--                    -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43 111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252-->
<!--                    0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--        </div>-->
<!--        &lt;!&ndash; картинка телефон &ndash;&gt;-->
<!--        <div class=" cont-horiz" style="height:100vh;">-->
<!--          <img src="img/page1/galaxy.png" class=" img1 img-desctop8" style="float:left;">-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </section>-->
<!--  &lt;!&ndash;- Экран 7 LEFT -&ndash;&gt;-->
<!--  <section class="section">-->
<!--    <div class="cont-horiz" style="max-width:100vw;">-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 invis" style="height:100vh;">-->
<!--        &lt;!&ndash; Мыльный пузырь &ndash;&gt;-->
<!--        <svg class="blob" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">-->
<!--          <g transform="translate(250,250)">-->
<!--            <path d="M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-->
<!--                        -2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-->
<!--                        -76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z" fill="#67C4B2" />-->
<!--          </g>-->
<!--        </svg>-->
<!--        <div class="dwf">-->
<!--          <path class="ani" d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0-->
<!--                    -217 86 c 0 10 1 19 3 29 -104 -6 -196 -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43-->
<!--                    111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252 0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--          <path d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0 -217 86 c 0 10 1 19 3 29 -104 -6 -196-->
<!--                    -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43 111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252-->
<!--                    0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--        </div>-->
<!--        &lt;!&ndash; картинка телефон &ndash;&gt;-->
<!--        <div class=" cont-horiz" style="height:100vh;">-->
<!--          <img src="img/page1/galaxy.png" class=" img1 img-desctop8" style="float:left;">-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 cont-vert">-->
<!--        <div style="text-align: center;"><h2>Отзывы</h2></div>-->
<!--        <p class="textblock8">Позволят оценить по достоинству работу исполнителя или место отдыха</p>-->
<!--        <div class="space-1x"></div>-->
<!--        <img src="img/page1/galaxy.png" class="visib">-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </section>-->

<!--  &lt;!&ndash;- Экран 8 RIGHT -&ndash;&gt;-->
<!--  <section class="section">-->
<!--    <div class="cont-horiz" style="max-width:100vw;">-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 cont-vert">-->
<!--        <div style="text-align: center;"><h2>Рейтинг</h2></div>-->
<!--        <p class="textblock8">Оценивайте исполнителя или место отдыха Вы также можете просматривать и выбирать услугу, ориентируясь на рейтинг</p>-->
<!--        <div class="space-1x"></div>-->
<!--        <img src="assets/images/ocpio/page1/galaxy.png" class="visib">-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;50% экрана &ndash;&gt;-->
<!--      <div class="w50 invis" style="height:100vh;">-->
<!--        &lt;!&ndash; Мыльный пузырь &ndash;&gt;-->
<!--        <svg class="blob" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">-->
<!--          <g transform="translate(250,250)">-->
<!--            <path d="M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-->
<!--                        -2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-->
<!--                        -76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z" fill="#67C4B2" />-->
<!--          </g>-->
<!--        </svg>-->
<!--        <div class="dwf">-->
<!--          <path class="ani" d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0-->
<!--                    -217 86 c 0 10 1 19 3 29 -104 -6 -196 -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43-->
<!--                    111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252 0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"></path>-->
<!--          <path d="M 612 116 c -23 10 -47 17 -72 20 26 -15 46 -40 55 -69 -24 14 -51 24 -80 30 a 125 125 0 0 0 -217 86 c 0 10 1 19 3 29 -104 -6 -196-->
<!--                    -56 -258 -132 a 125 125 0 0 0 39 168 c -21 -1 -40 -6 -57 -16 v 2 c0 61 43 111 100 123 a127 127 0 0 1 -56 2 c 16 50 62 86 117 87 A 252 252-->
<!--                    0 0 1 0 498 a 355 355 0 0 0 550 -301 l -1 -16 c 25 -17 46 -40 63 -65 z"  />-->
<!--        </div>-->
<!--        &lt;!&ndash; картинка телефон &ndash;&gt;-->
<!--        <div class=" cont-horiz" style="height:100vh;">-->
<!--          <img src="img/page1/galaxy.png" class=" img1 img-desctop8" style="float:left;">-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </section>-->

<!--  &lt;!&ndash;- Экран 9 -&ndash;&gt;-->
<!--  <section class="section">-->
<!--    <div class="cont-vert-around" style="height:100vh;">-->
<!--      <div style="width:100vw;">-->
<!--        <center><h2>Для удобства используйте мобильное приложение</h2></center>-->
<!--        <div class="cont-horiz-around" >-->
<!--          <center>-->
<!--            <img src="img/page8/googleplay.png" style="max-width:150px;padding:0px 20px 0px 0px;">-->
<!--            <img src="img/page8/download.png" style="max-width:150px;padding:0px 20px 0px 0px;">-->
<!--          </center>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; Footer &ndash;&gt;-->
<!--      <div style="width:100vw;">-->
<!--        <div class="cont-horiz-around-start invis footer-text;" >-->
<!--          <div>-->
<!--            <div style="padding-bottom:35px;">Контакты</div>-->
<!--            <div style="word-wrap:break-word;">pochta@gmail.com</div>-->
<!--          </div>-->
<!--          <div  style=" word-wrap:break-word; ">-->
<!--            <div style="padding-bottom:35px;">Подписывайтесь на нас</div>-->

<!--            <div class=" " >-->
<!--              <div style="display: inline;">-->
<!--                <img src="img/page8/facebook.png" style="float:left; padding:0px 20px 20px 0px;">-->
<!--              </div>-->
<!--              <div>-->
<!--                <img src="img/page8/telegram.png" style="float:left; padding:0px 20px 20px 0px;">-->
<!--              </div>-->
<!--              <div>-->
<!--                <img src="img/page8/vk.png" style="float:left;">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="cont-vert" style="height:100px;">-->
<!--            <div>-->
<!--              <img src="assets/images/ocpio/page8/logo.png" style="max-width:220px;">-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
