<!--<div class="modal-header">-->
<!--  <h4 class="modal-title">Hi there!</h4>-->
<!--  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
<!--</div>-->


<!--<div class="modal-body">-->
<!--  <div class="vhfull cont-horiz" style="background: #FAFAFC;">-->
<!--    <img src="assets/img/logo-ocpio.png" class="logo">-->
<!--  </div>-->
<!--</div>-->

<div class="modal-body">
  <img src="assets/img/logo-ocpio.png" class="progress-title logo">
  <div class="progress pink logo">
    <div class="progress-bar" style="width:100%; background:#67C4B2;">
      <!--div class="progress-value">100%</div-->
    </div>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Дальше</button>
</div>
